<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>angularJS</title>
    <link rel="stylesheet" type="text/css" href="../css/studynote_v2.css">
</head>

<body>

    <body>
        <div class="container">
            <div class="con">
                <div class="note md-note">
                    <div class="md-note-head">
                        <title>AngularJS 指令</title>
                    </div>
                    <!-- <div class="md-note-body">
                        <div ng-app="" ng-init="firstName='John'">
                            <p>在输入框中尝试输入：</p>
                            <p>姓名：
                                <input type="text" ng-model="firstName">
                            </p>
                            <p>你输入的为： {{firstName}}</p>
                        </div>
                    </div> -->
                </div>
                <div class="note md-note">
                    <div class="md-note-head">
                        <title>数据绑定</title>
                    </div>
                    <!-- <div class="md-note-body">
                        <div ng-app="" ng-init="quantity=1;price=5">
                            <h2>价格计算器</h2> 数量：
                            <input type="number" ng-model="quantity"> 价格：
                            <input type="number" ng-model="price">
                            <p><b>总价：</b> {{ quantity * price }}</p>
                        </div>
                    </div> -->
                </div>
                <div class="note md-note">
                    <div class="md-note-head">
                        <title>重复 HTML 元素</title>
                    </div>
                    <!-- <div class="md-note-body">
                        <div ng-app="" ng-init="names=['Jani','Hege','Kai']">
                            <p>使用 ng-repeat 来循环数组</p>
                            <ul>
                                <li ng-repeat="x in names">
                                    {{ x }}
                                </li>
                            </ul>
                        </div>
                        <div ng-app="" ng-init="names=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">
                            <p>循环对象：</p>
                            <ul>
                                <li ng-repeat="x	in names">
                                    {{ x.name + ', ' + x.country }}
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    </body>

</html>
